html{
    margin: 0 auto;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
p{
    display: inline-block;
}
h1{
    text-shadow:4px 2px 2px gray;
}
table{
    margin: 0 auto;
}
button{
    padding: 0;
}
/* input{
    width: 15vw;
    height: 5vh;
} */